@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

* {
	font-family: 'Quicksand', sans-serif;
	padding: 0;
	margin: 0;
	color: white;
}
body {
	background-color: rgb(15, 48, 74);
}

#ribbon {
	height: 10vh;
	background-color: rgb(211, 189, 44);
}

#informations * {
	padding: 20px 40px;
	margin-left: 50px;
}

#title {
	color: rgb(211, 189, 44);
}

#informations h3 {
	padding-left: 100px;
}
